<!doctype html>
<html lang="en">

<head>
    <title>Welcome to Angular js</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

</head>

<body ng-app="myApp">
    <div class="container" ng-controller="ctrlView">
        <div class="row mt-5">
            <form class="col-sm-6 offset-sm-3">
                <div class="mb-3">
                    <label for="" class="form-label">Họ và tên</label>
                    <input type="text" ng-model="student.fullname" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Ngày Sinh</label>
                    <input type="text" class="form-control" ng-model="student.date">
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Điểm</label>
                    <input type="number" class="form-control" ng-model="student.mark">
                </div>
                <button type="submit" class="btn btn-primary" ng-click="add()" ng-show="index == -1">Thêm</button>
                <button type="submit" class="btn btn-info" ng-click="update()" ng-hide="index == -1">Sửa</button>
                <button type="submit" class="btn btn-warning" ng-click="delete()" ng-disabled="index == -1" >Xóa</button>
                <button type="submit" class="btn btn-danger" ng-click="cancel()">Hủy</button>
                <button type="submit" class="btn btn-success" ng-click="clear()">Mới</button>
            </form>
        </div>
        <div class="row mt-5">
            <table class="table table-hover mt-3 ">
                <thead>
                    <th>Họ Và Tên</th>
                    <th>Ngày Sinh</th>
                    <th>Điểm</th>
                    <th>Xếp loại</th>
                    <th>Action</th>
                </thead>
                <tbody>
                    <tr ng-repeat="student in listStudent">
                        <td>{{student.fullname}}</td>
                        <td>{{student.date}}</td>
                        <td>{{student.mark}}</td>
                        <td>
                            <span ng-if="student.mark<5">Yếu/Kém</span>
                            <span ng-if="student.mark>=5 && student.mark <=8">Trung bình/Khá</span>
                            <span ng-if="student.mark >8">Giỏi/Xuất</span>
                        <td><button class="btn btn-primary" ng-click="edit($index)"> Edit</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script>
        var app = angular.module('myApp', []);
        app.controller('ctrlView', function ($scope) {
            $scope.student = {};
            $scope.listStudent = [];
            $scope.index = -1;
            // Làm mới
            $scope.clear = function () {
                $scope.student = {};
            }
            // Thêm
            $scope.add = function () {
                $scope.listStudent.push(angular.copy($scope.student));
                $scope.clear();
            }
            // Sửa
            $scope.edit = function (index) {
                $scope.index = index
                $scope.student = angular.copy($scope.listStudent[index]);
            }
            // Update
            $scope.update = function () {
                $scope.listStudent[$scope.index] = angular.copy($scope.student);
                $scope.clear();
            }
            // xóa
            $scope.delete = function () {
                $scope.listStudent.splice($scope.index, 1);
                $scope.clear();
            }
            // Hủy
            $scope.cancel = function () {
                if ($scope.index == -1) {
                    $scope.student = {}
                } else {
                    $scope.edit($scope.index);
                }
            }


        })


    </script>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</body>

</html>